{{- if eq .chezmoi.os "windows" }}
sourceDir: "{{ .chezmoi.homeDir }}/.dotfiles"
{{- else }}
sourceDir: "{{ .chezmoi.homeDir }}/.dotfiles"
{{- end }}

git:
  autopush: true

# Optional quality-of-life
edit:
  command: code
  args: ["--wait","--reuse-window"]

# Example: default pager off in CI, etc.
# pager: ""
